## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [21]:
x = int(input("Enter the number : ")) 

if x==0:
    print("Not Defined")
elif x % 2 == 0:
    print('The number is even')
else:
    print('The number is odd')

Enter the number : 7
The number is odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [24]:
a = int(input("Enter the number : ")) 

for i in range(1,11):
    print(f'{a}*{i} == {a*i}')

Enter the number : 5
5*1 == 5
5*2 == 10
5*3 == 15
5*4 == 20
5*5 == 25
5*6 == 30
5*7 == 35
5*8 == 40
5*9 == 45
5*10 == 50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [37]:
def find_numbers():
    numbers=[]
    for i in range(2000, 3201):
        if i % 7 == 0 and i % 5 != 0:
            numbers.append(i)
    return numbers

b=find_numbers()
print(b)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [103]:
def count_data_types(list):
    data_type_counts = {}
    for item in list:
        data_type = type(item).__name__
        if data_type in data_type_counts:
            data_type_counts[data_type] += 1
        else:
            data_type_counts[data_type] = 1
    return data_type_counts

the_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]    
result = count_data_types(the_list)
for data_type, count in result.items():
    print(f"{data_type}: {count}")

int: 5
str: 4
float: 1
bool: 1
NoneType: 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [22]:
def sum_numeric_datatypes(lst):
    total = 0
    for item in lst:
        if isinstance(item, (int, float)):
            total = total + item
    return total


the_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
result = sum_numeric_datatypes(the_list)
print("Sum of numeric datatypes is:", result)

Sum of numeric datatypes is: 22.5

In [21]:
def nsum(num):
    for i in range(num):
        num = num + i
        
        return num
    
nsum(2)

2

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [20]:
the_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
concatenated_string = "-".join(str(item) for item in the_list if isinstance(item,str))
the_list = [concatenated_string] 
print("concated str datatypes will be:", the_list)

concated str datatypes will be: ['Py-10-SQL-John']

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [15]:
def my_func(list):
    count_of_strings = 0 
    total = 0
    for item in list:
        if isinstance(item, (int, float)):
            total = total + item
        elif isinstance(item, str):
                count_of_strings += 1
        
    return total, count_of_strings       

l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]    
result = my_func(l1)
print("Sum of numbers:", result[0])
print("Count of strings:", result[1])

Sum of numbers: 22.5
Count of strings: 4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [20]:
#i. Use loops to get the answer

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_numbers_list = []
for item in li:
    if item % 2 != 0:
        odd_numbers_list.append(item)
        
print(odd_numbers_list)

[5, 7, 97, 77, 23, 73, 61]

In [24]:
#ii. Use list comprehensions

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_numbers_list = [item for item in li if item % 2 != 0]

print(odd_numbers_list)

[5, 7, 97, 77, 23, 73, 61]

In [1]:
#iii. Use lambda function with filter

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_numbers_list = list(filter(lambda item : item % 2 != 0, li))

print(odd_numbers_list)

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [23]:
n = input("Enter the list of numbers : ") 
numbers = n.split()
numbers = [float(num) for num in numbers]

def my_agg_func(numbers):
    total = sum(numbers)
    count = len(numbers)
    minimum = min(numbers)
    maximum = max(numbers)
    mean = total/count
    return total, count, minimum, maximum, mean


result = my_agg_func(numbers)
print("Sum:", result[0])
print("Count:", result[1])
print("Min:", result[2])
print("Max:", result[3])
print("Mean:", result[4])

Enter the list of numbers : 623 234 876 234 987 765 98.3
Sum: 3817.3
Count: 7
Min: 98.3
Max: 987.0
Mean: 545.3285714285714

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [8]:
import math

def area(shape, **dimensions):
    if shape == 'square':
        side = dimensions.get('side')
        if side is None or side <= 0:
            print("Side length is required and should be greater than 0 for a square.")
            return None
        area = side ** 2
        return area
    
    if shape == 'rectangle':
        length = dimensions.get('length')
        breadth = dimensions.get('breadth')
        if length is None or length <= 0 or breadth is None or breadth <= 0:
            print("Length and breadth are required and should be greater than 0 for a rectangle.")
            return None
        area = length * breadth
        return area
    
    if shape == 'circle':
        radius = dimensions.get('radius')
        if radius is None or radius <= 0:
            print("Radius is required and should be greater than 0 for a circle.")
            return None
        area = math.pi * radius**2
        return area
    
    print("Invalid input.")
    return None

square = area('square', side=5)
if square is not None:
    print("Square area:", square)

rectangle = area('rectangle', length=3, breadth=5)
if rectangle is not None:
    print("Rectangle area:", rectangle)

circle = area('circle', radius=5)
if circle is not None:
    print("Circle area:", circle)

Square area: 25
Rectangle area: 15
Circle area: 78.53981633974483

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [23]:
def reconciled_lists(l1, l2):
    
    Matched = list(set(l1).intersection(l2))
    only_in_l1 = list(set(l1).difference(l2))
    only_in_l2 = list(set(l2).difference(l1))
    
    result={
        'Matched' : Matched,
        'only_in_l1' : only_in_l1,
        'only_in_l2' : only_in_l2
        }
    return result

l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']    
Matched = reconciled_lists(l1,l2)
print(Matched)

{'Matched': ['February', 'June', 'December', 'January'], 'only_in_l1': ['March', 'May', 'September'], 'only_in_l2': ['October', 'April']}

Q13: write a UDF to check if a number is prime or not.

In [25]:
def is_prime(number):
    if number <= 0:
        return False

    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False

    return True

prime = int(input("number : "))

if is_prime(prime):
    print(prime, " is a prime number.")
else:
    print(prime, " is not a prime number.")

number : 12
12  is not a prime number.

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [3]:
def fact(number):
    if number < 0:
        return None
    elif number == 0:
        return 1
    else:
        fact = 1
        for i in range(1, number + 1):
            fact = fact*i
        return fact


num = int(input("Enter a number: "))
n=fact(num)
n

Enter a number: 8

40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [4]:
number = int(input('Enter the value of n: '))
def dict(n):
    
    dictionary = {}
    
    for i in range(1,n+1):
        dictionary[i] = i**2
    return dictionary

result = dict(number)
print(result)

Enter the value of n: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [1]:
n = input('Enter the numbers: ')
a = n.split(',')

b = tuple(a)

print(a, b, sep='\n')

Enter the numbers: 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [37]:
alpha = input('Enter the words in a comma seperated manner: ').split(',')
alpha.sort()
alpha

Enter the words in a comma seperated manner: without,hello,bag,world

['bag', 'hello', 'without', 'world']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [2]:
alpha = input('Enter the words in a comma seperated manner: ').split(' ')
alpha = list(set(alpha))
alpha.sort
alpha

Enter the words in a comma seperated manner: hello world and practice makes perfect and hello world again

['makes', 'practice', 'again', 'world', 'hello', 'perfect', 'and']

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [7]:
sentence = input('Enter the input:')
    
uppercase = 0
lowercase = 0
    
for s in sentence:
    if s.isupper():
        uppercase = uppercase + 1
    elif s.islower():
        lowercase = lowercase + 1
        
print(uppercase)
print(lowercase)

Enter the input:Hello world!
1
9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [8]:
a_string = input('Enter the String:')
a_string[::-1]

Enter the String:432

'234'